@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MantouSans';
  src: url('./fonts/MantouSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansTC';
  src: url('./fonts/NotoSansTC-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
